[submodule "thirdparty/FAST_LIO"]
	path = thirdparty/FAST_LIO
	url = https://github.com/wangxinjian1108/FAST_LIO.git
[submodule "thirdparty/livox_ros_driver"]
	path = thirdparty/livox_ros_driver
	url = https://github.com/Livox-SDK/livox_ros_driver.git
[submodule "thirdparty/LIO-SAM"]
	path = thirdparty/LIO-SAM
	url = https://github.com/wangxinjian1108/LIO-SAM.git
[submodule "thirdparty/genz-icp"]
	path = thirdparty/genz-icp
	url = https://github.com/wangxinjian1108/genz-icp.git
[submodule "thirdparty/mad-icp"]
	path = thirdparty/mad-icp
	url = https://github.com/wangxinjian1108/mad-icp.git
